<div class="container intro-container">
    <h3>{{ site.about_title | default: "About Director" }}</h3>
    <div class="row">
      {%- if site.director_profile_image -%}
      <div class="media director">
          <img class="mr-1"  src="{{ site.director_profile_image | relative_url }}">
          {{ site.director_overview | strip | markdownify }}
        </div>
      {%- endif -%}
      <!-- <div class="director" style="flex:2;">
        {{ site.director_content | strip | markdownify }}
      </div> -->
    </div>
  </div>