// Publications

.pubitem {
    margin: 2em 0;
    line-height: 1em;
    
    .pubtitle {
        margin-bottom: .5em;
        line-height: 1.2em;
        font-weight: bold;
      }
      
    .pubauthors, .pubinfo {
        font-size: 75%;
        margin-bottom: .75em;
      }

      .pubteaser {
        clear: both;
      }
      
      .pubteaser a {
        float: left;
        margin-right: 2em;
      }
      
      .pubteaser img {
        width: 100px;
        border: 1px solid black;
      }
      .publinks {
        font-size: 75%;
      }
  }
  